
h1 { font: bold 36px Helvetica, Sans-Serif; }

#list {
	list-style: none;
	width: 350px;
	margin: 30px;
}

#list li {
	margin: 0;
	height: 45px;
	line-height: 45px;
	font-size: 1.4em;
	border: 1px solid;
	border-radius: 8px;
	text-indent: 10px;
	color: #fff;
	background: -moz-linear-gradient(top,  rgb(78,82,91) 0%, rgb(57,61,68) 100%);
	
}

.name {
	display: inline-block;
	min-width: 200px;
	min-height: 45px;
}

.initiative {
	display: inline-block;
	border: 1px solid;
	width: 50px;
	font-size: 1em;
	text-align: center;
}