
h1 { font: bold 36px Helvetica, Sans-Serif; }

#list { list-style: none; }
#list li { position: relative; 
         margin: 0 0 8px 0;
         padding: 0 0 0 70px;
         width: 607px;
		 background: rgb(240, 240, 240);
	   }
#list li span { width: 600px;
             padding: 8px;
             
		   }